{% extends "entete.html.twig" %}
 {% block content %}
<!DOCTYPE html>
<html>
<body>
<div class="container">
  <br>
    <center><h1>Activité quotidienne</h1></center><br>
    <FORM>
    <SELECT class="form-control" name="nom" size="1">
    <OPTION>Semaine 1</OPTION>
    <OPTION>Semaine 2</OPTION>
    <OPTION>Semaine 3</OPTION>
    <OPTION>Semaine 4</OPTION>
    <OPTION>Semaine 5</OPTION>
    <OPTION>Semaine 6</OPTION>
    <OPTION>Semaine 7</OPTION>
    <OPTION>Semaine 8</OPTION>
    </SELECT>
    </FORM>
  </br></br>
<!-- <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea> -->
  <!--  <div class="row align-items-center">
    <div class="col-md-2 text-center">
      <h5>Lundi</h5>
    </div>-->
   

{% set idJour = -1%}

{% for tache in tacheSemaine %}

          {% if idJour == -1 %}

          {% elseif idJour != tache.jour.id %}
            </tbody>
            </table>
          {% endif%}

    {% if idJour != tache.jour.id%}
      <u><h3> {{tache.jour.libelle}} :  </h3></u>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Domaine</th>
            <th scope="col">Duree</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
      <tbody>
    {% set idJour = tache.jour.id %}

    {% endif%}      
          <tr>
            <td>{{tache.domaine.libelle}}</td>
            <td>{{tache.duree}}</td>
            <td>{{tache.description}}</td>
          </tr>   





{%endfor%}
</tbody>
</table>


</div>



            <!-- BOUCLE RECUPERATION LIBELLE, STATUT, CALCUL NB ACTIVITE 1ERE ANNEE SELON ID -->


        <!-- SI AUCUNES OCCURENCES, AFFICHER MESSAGE POUR PREVENIR QU'AUCUNES OCCURENCES N'A ETE RENSEIGNE -->



<div class="container">
            <a href="..."><input type="button" value="Enregistrer" class="btn btn-secondary btn-lg btn-block"></a>

  <div class="alert alert-light" role="alert">
</div>
</div>

</body>
</html>
{% endblock %}