<h1>Bienvenue sur le suiviSIO du lycée Jean Rostand !</h1>
<p>Un professeur vient tout juste de vous créer un compte pour le suivi de votre BTS.</p>
<p>Pour l'activer, cliquez sur le lien ci-dessous.</p>
<a href="{{ absolute_url(path('activation', {'id':id}))}}">Activer mon compte.</a>